<mat-toolbar>
    <img src="/assets/img/logo.png" alt="image">
    <span class="title">My angular app</span>
    <span class="example-spacer"></span>
    <span>Benvenuto <span class="mail-user" *ngIf="isUserLogged else bloccoElse">{{ userLogged.email }}</span></span>
    <ng-template #bloccoElse>
        <span>utente</span>
    </ng-template>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
