<div class="contact-box" *ngIf="contactClick">
    <p>Click on this address to send an email to: <a href="mailto:alessandrodl207@gmail.com" title="send mail">alessandrodl207@gmail.com</a></p>
    <span (click)="onClickCloseContacts($event)">X</span>
</div>

<div class="about-box" *ngIf="aboutClick">
    <div class="x-box">
        <span (click)="onClickCloseAboutUs($event)">X</span>
    </div>
    <h2>YourTaskMaster</h2>
    <p>We are a simple organization that helps users easily 
        and quickly store and manage their goals. If you'd like, please tell us how
        we can help you optimize this application by emailing us at the address you 
        can find in our contacts
    </p>
    
    <a class="re-address" (click)="onClickContacts($event)">Go to our address</a>
</div>

<div class="restore-box" *ngIf="restoreClick">
    <div class="x-box-clear">
        <span (click)="onClickCloseClear($event)">X</span>
    </div>
    <p>Do you want to clear the task list?</p>
    <div class="buttons-choice">
        <a (click)="onClickClearList($event)">Clear</a>
        <a (click)="onClickCloseClear($event)">Cancel</a>
    </div>
</div>

<footer>
    <div class="left">
        <a (click)="onClickContacts($event)" [ngStyle]="{'color': contactClick ? 'brown' : 'black'}">Contacts
            <span [ngClass]="{'active-line': contactClick}"></span>
        </a>
        <a (click)="onClickAboutUs($event)" [ngStyle]="{'color': aboutClick ? 'brown' : 'black'}">About us
            <span [ngClass]="{'active-line': aboutClick}"></span>
        </a>
        <a (click)="onRestoreList($event)" [ngStyle]="{'color': restoreClick ? 'brown' : 'black'}">Clear list
            <span [ngClass]="{'active-line': restoreClick}"></span>
        </a>
    </div>

    <div class="footer-logo">
        <img src="/assets/img/logo.png" alt="image">
    </div>

    <div class="right">
        <img class="img-1" src="/assets/img/insta.png" alt="image" (click)="onClickInsta($event)">
        <span class="vr"></span>
        <img class="img-2" src="/assets/img/facebook.png" alt="image" (click)="onClickFacebook($event)">
    </div>
</footer>

