<div class="container">
    <form class="form">  
      <h1 class="form-title">Sign in to your account</h1>

      <label class="input-container">
        <input matInput placeholder="Enter email" (change)="onReadMail($event)">
        <span></span>
      </label>
  
      <label class="input-container">
        <input type="password" matInput placeholder="Enter password" (change)="onReadPassword($event)">
      </label>
  
      <input type="button" class="submit" value="Sign in" (click)="onClickLogin($event)">
      <p class="errorMsg" *ngIf="emptyValue">{{ errorMessage }}</p> <!-- *ngIf se emptyValue è true allora mostrami il valore di errorMessage -->
      <dialog-component></dialog-component>
    </form>
</div>  
